
/* src/App.css */

body {
    font-family: 'Arial', sans-serif;
  }
  
  .navbar {
    background-color: #ffffff;
  }
  
  .navbar-brand {
    font-weight: bold;
  }
  
  .btn-warning {
    background-color: #ffc107;
    border-color: #ffc107;
  }
  
  .btn-warning:hover {
    background-color: #e0a800;
    border-color: #d39e00;
  }
  
  .card {
    border: none;
    transition: transform 0.3s;
  }
  
  .card:hover {
    transform: translateY(-5px);
  }
  